@using System.Configuration;

<script type="text/javascript" language="javascript">

    $(document).ready(function () {
        setVariables();
    });

    function setVariables() {
        try {
            $("#varPageTitle").text("<not set>");
            $("#varAppSettingPageTitle").text("<not set>");

            $('#varPageTitle').text(process.env.PAGETITLE);
            $('#varAppSettingPageTitle').text(process.env.APPSETTING_PAGETITLE);
            //process.env.MYSQLCONNSTR_MYDB;
        }
        catch (e) {

            $('#appSettingError').text(e);

        }
    }

</script>

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@
<div class="row">
    <div class="col-md-6">
        <h1 class="text-primary">Deploy Azure</h1>
        <h2>
            Titel: @ConfigurationManager.AppSettings["PageTitle"]
        </h2>
    </div>
    <div class="col-md-6">
        <span class="label label-info">Setting from config: @ConfigurationManager.AppSettings["SettingFromConfig"]</span>
        <span class="label label-info">Conn string: @ConfigurationManager.ConnectionStrings["TestConnection"].ConnectionString</span>
        <span class="label label-default">29-1-2016</span>
        <span class="label label-default">8:50</span>
        <span class="label label-success">Test</span>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Javascsript variables
            </div>
            <div class="panel-body">
                var PageTitle = <span id="varPageTitle"></span>  <br />
                var Appsetting PageTitle = <span id="varAppSettingPageTitle"></span>  <br />
                <br />
                <div onclick="setVariables()" class="btn btn-default">Set</div>
                <br />
                <span id="appSettingError" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <img src="~/Images/admin.jpg" />
        <br/>
        <img src="~/Images/chuck.jpg" />
    </div>
    <div class="col-md-3">
        <img src="~/ImagesVD1/admin.jpg" />
        <br />
        <img src="~/ImagesVD2/chuck.jpg" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
